__pycache__/
*.pyc
.idea/
/build/
/bg
/repositories/
/node_modules/
/reports/web-*.png

/reports/visual/
/screenshots/
/reports/features/
/reports/feature-report/
/reports/feature-snapshots/

/reports/tags-*/
